# Ignore Visual Studio Code files
.vscode/
.vscode/*

# Ignore Visual Studio Code workspace files
*.code-workspace

*.pdsbak
New Project.pdsprj.CROCODILE.behda.workspace
main.elf
main.hex
Project Backups/New Project \[Autosaved].pdsprj
