# Ignore Visual Studio Code files
.vscode/
.vscode/*

# Ignore Visual Studio Code workspace files
*.code-workspace

#
*.pdsbak
New Project.pdsprj.CROCODILE.behda.workspace
Project Backups/*

#
main.elf
main.hex
main.eep
